html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    width: 500px;
    margin: 0 auto;
    background-color: bisque;
}
a {
    text-decoration: none;
    color: blueviolet;
}
a:hover {
    color: rgb(241, 3, 3);
}
.align {
    display: flex;
    gap: 2em;
    flex: 1;
    font-size: x-large;
} 

.flexbox {
    display: flex;
}
    
.image{
    height: auto;
    width: 275px;

}
.large{
     font-size: 28px
     
}
.center{
    text-align: center;
}
.red{
    color: rgb(196, 65, 65);
    text-decoration-line: underline;
    font-size: 75px;
    font-style: italic ;
}
.main{
    background-color: rgb(245, 213, 35);

}
