html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    width: 500px;
    margin: 0 auto;
    background-color: bisque;
}
.image{
    height: auto;
    width: 300px;

}
.large{
     font-size: 28px
     
}
.center{
    text-align: center;
}
.red{
    color: red;
}
.main{
    background-color: rgb(245, 213, 35);

}